<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TwitterDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8700A5831D21BFE00027B7CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8700A5971D21BFE00027B7CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8700A5A21D21BFE00027B7CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
